<h1>All Lists</h1>
<table>
  <thead>
    <tr>
      <td>List Name</td>
      <td>Size of List</td>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr class="list-row" id="<%= dom_id(list) %>">
        <td class="name"><%= list.name %></td>
        <td class="size"><%= list.size %></td>
        <td>
          <%= button_to('Destroy', list_path(:id => list.id),
                    method: "delete")
          %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
